<!DOCTYPE html>
<html>
	<head>
		<title>myMovies Xpress! - Cart</title>
		<link rel="stylesheet" type="text/css" href="../css/mySite.css">
		<script src="./script.js"></script>
	</head>
	<body>
		<h3>Welcome, <?= $_SESSION["displayName"] ?> (<a href="javascript: confirmLogout()">logout</a>)</h3>
		<h1>myMovies Xpress!</h1>
<!-- DO NOT REMOVE OR MODIFY THE CODE OR PLACE YOUR CODE ABOVE THIS LINE -->
<?php if (count($movies) == 0) { ?>
	<h3>Please add a movie to your shopping cart</h3>
<?php } else { ?>
	<h3>There are currently <?php echo count($movies); ?> in your shopping cart</h3>
	<table>
		<tr>
			<th>Poster</th>
			<th>Title(Year)</th>
			<th>More Info</th>
			<th>Remove Movie</th>
		</tr>
		<?php foreach($movies as $movie) { 
			$movieData = getMovieData($movie);
			$movie_poster = $movieData["Poster"];
			$movie_title = $movieData["Title"];
			$movie_year = $movieData["Title"];
			$movieDataID = $movieData["ID"];
			$imdbID = $movieData["IMDB_ID"];
			$movie_ty = "{$movie_title} ({$movie_year})";
		?>
		<tr>
			<td><img src="<?php echo $movie_poster; ?>" height="100"></img></td>
			<td><a href="https://www.imdb.com/title/<?php echo $imdbID; ?>" target="_blank"><?php echo $movie_ty; ?></a></td>
			<td><a href="javascript:void(0);" onclick='displayMovieInformation(<?php echo $movieDataID; ?>);' >View More Info</a></td>
			<td><a href="javascript: confirmRemove('<?php echo $movie_title; ?>', '<?php echo $movieDataID;?>')">X</a></td>
		</tr>
		<?php } ?>
	</table>
	<?php } ?>
	<input type="button" value="Add Movie" onclick="window.location.href='./search.php'" />
	<input type="button" value="Checkout" onclick="javascript: confirmCheckout()" />	
<!-- DO NOT REMOVE OR MODIFY THE CODE OR PLACE YOUR CODE BELOW THIS LINE -->
		<!-- This code is used by the movieInfo.php file provided by the professor -->
		<div id='modalWindow' class='modal'>
			<div id='modalWindowContent' class='modal-content'>
			</div>
		</div>
	</body>
</html>
